# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Flutter specific
**/generated_plugin_registrant.dart
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Logs
*.log
